<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


<!-- 配置security -->

	<!-- 过滤哪些页面不被拦截 -->
	<http pattern="/login.html" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/img/**" security="none"/>
	<http pattern="/plugins/**" security="none"/>

	<!-- 页面拦截规则 -->
	<http use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_ADMIN"/>
		<form-login login-page="/login.html" default-target-url="/admin/index.html" authentication-failure-forward-url="/login.html" always-use-default-target="true"/>
		<!-- 禁用csrf -->
		<csrf disabled="true"/>
		<!-- 在系统使用了框架页就需要制定policy为SAMEORIGIN -->
		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
		
		<!-- 退出 -->
		<logout logout-url="/logoutName" logout-success-url="/login.html"/>
	</http>

	<!-- 创建认证信息管理器 -->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="123456" authorities="ROLE_ADMIN"/>
				<user name="dhr" password="qaz" authorities="ROLE_ADMIN"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>