<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描service包 -->
    <context:component-scan base-package="com.dhr.shop.service">
    </context:component-scan>
    
    <!-- 配置dubbo -->
	<!-- 配置提供应用方信息，计算服务 -->    
    <dubbo:application name="taoshop-manager"/>
    <!-- 使用multicat广播 暴露服务注册地址 -->
    <dubbo:registry protocol="zookeeper" address="192.168.25.128:2181"/>
   	<!-- 使用dubbo协议在端口20880暴露服务 -->
   	<dubbo:protocol name="dubbo" port="20880"/>
   	<!-- 声明要暴露的服务接口  实现类  bean配置的直接是实现类  扫描注解的是实现类的首字母小写 -->
    <dubbo:service interface="com.dhr.shop.service.ItemService" ref="itemServiceImpl" />
    <dubbo:service interface="com.dhr.shop.service.ItemCatService" ref="itemCatServiceImpl"/>
</beans>